Repository cryostatio/cryostat, pull requests merged in 2023-11, with the labels that each got.

#138 test(smoketest): update minio healthcheck to not require 'curl' in container
  smoketest/compose/s3-minio.yml
  smoketest/k8s/s3-deployment.yaml
Labels: test, safe-to-test

#136 chore(db): update references to split-out database container
  .github/workflows/ci.yaml
  README.md
  db/Dockerfile
  db/build.sh
  db/entrypoint.bash
  db/include/postgresql-cfg/pgcrypto.conf
  db/include/postgresql-init/pgcrypto.sh
  smoketest.bash
  smoketest/compose/db.yml
  smoketest/compose/db_k8s.yml
  smoketest/containers/smoketest_pod.bash
  smoketest/k8s/compose-default-networkpolicy.yaml
  smoketest/k8s/cryostat-deployment.yaml
  smoketest/k8s/cryostat-ingress.yaml
  smoketest/k8s/cryostat-service.yaml
  smoketest/k8s/db-deployment.yaml
  smoketest/k8s/db-service.yaml
  smoketest/k8s/db-viewer-deployment.yaml
  smoketest/k8s/db-viewer-ingress.yaml
  smoketest/k8s/db-viewer-service.yaml
  smoketest/k8s/minio-certs-persistentvolumeclaim.yaml
  smoketest/k8s/minio-data-persistentvolumeclaim.yaml
  smoketest/k8s/pgadmin-persistentvolumeclaim.yaml
  smoketest/k8s/postgresql-persistentvolumeclaim.yaml
  smoketest/k8s/quarkus-test-agent-deployment.yaml
  smoketest/k8s/quarkus-test-agent-service.yaml
  smoketest/k8s/s3-deployment.yaml
  smoketest/k8s/s3-ingress.yaml
  smoketest/k8s/s3-service.yaml
  smoketest/k8s/sample-app-deployment.yaml
  smoketest/k8s/sample-app-service.yaml
  smoketest/k8s/smoketest.bash
  src/main/resources/application-dev.properties
  src/main/resources/application-test.properties
Labels: chore, safe-to-test

#139 test(db-viewer): upgrade pgadmin4 to 7.x
  smoketest/compose/db-viewer.yml
  smoketest/compose/db_k8s.yml
  smoketest/k8s/db-viewer-deployment.yaml
Labels: test, safe-to-test

#140 test(itest): enable jfr-datasource recording upload test
  src/main/java/io/cryostat/discovery/CustomDiscovery.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/resources/application-test.properties
  src/test/java/io/cryostat/resources/GrafanaResource.java
  src/test/java/itest/CryostatTemplateIT.java
  src/test/java/itest/CustomTargetsIT.java
  src/test/java/itest/HealthIT.java
  src/test/java/itest/TargetEventsGetIT.java
  src/test/java/itest/UploadRecordingTest.java
  src/test/java/itest/bases/StandardSelfTest.java
Labels: test, chore, safe-to-test

#141 test(smoketest): open services in browser tabs when ready
  smoketest.bash
  smoketest/compose/db-viewer.yml
  smoketest/compose/jfr-datasource.yml
  smoketest/compose/s3-localstack.yml
  smoketest/compose/s3-minio.yml
  smoketest/compose/sample-apps.yml
Labels: test, safe-to-test

#144 build(version): build image as quay.io/cryostat/cryostat with lowercase version tag
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
  pom.xml
  src/main/resources/application.properties
  src/test/java/itest/HealthIT.java
Labels: ci, build, chore, safe-to-test

#145 ci(image): correct expression condition syntax
  .github/workflows/push-ci.yaml
Labels: ci, build, chore, safe-to-test

#150 test(itest): updated UploadRecordingTest to handle the redirects to V3 endpoints
  src/main/java/io/cryostat/recordings/Recordings.java
  src/test/java/itest/UploadRecordingTest.java
  src/test/java/itest/bases/StandardSelfTest.java
Labels: test, safe-to-test

#146 test(smoketest): use updated cryostat3 container image tag
  smoketest/compose/cryostat.yml
  smoketest/compose/cryostat_docker.yml
  smoketest/compose/cryostat_k8s.yml
  smoketest/k8s/cryostat-deployment.yaml
  smoketest/k8s/smoketest.bash
Labels: test, chore, safe-to-test

#151 test(flake): enable flakey test reruns, disable problematic tests in CI
  pom.xml
  smoketest/compose/cryostat-grafana.yml
  smoketest/compose/jfr-datasource.yml
  src/main/java/io/cryostat/GreetingResource.java
  src/test/java/io/cryostat/GreetingResourceIT.java
  src/test/java/io/cryostat/GreetingResourceTest.java
  src/test/java/io/cryostat/resources/GrafanaResource.java
  src/test/java/io/cryostat/resources/JFRDatasourceResource.java
  src/test/java/itest/CryostatTemplateIT.java
  src/test/java/itest/CustomTargetsIT.java
  src/test/java/itest/RecordingWorkflowIT.java
  src/test/java/itest/ReportIT.java
  src/test/java/itest/RulesPostFormIT.java
  src/test/java/itest/RulesPostJsonIT.java
  src/test/java/itest/SnapshotIT.java
  src/test/java/itest/TargetRecordingOptionsIT.java
  src/test/java/itest/TargetReportIT.java
  src/test/java/itest/UploadRecordingTest.java
  src/test/java/itest/bases/StandardSelfTest.java
Labels: test, safe-to-test

#153 ci(port): `/build_test` and related CI commands
  .github/workflows/pr-ci.yaml
Labels: ci, safe-to-test

#156 ci(task): `cryostat-web` should commit and push changes to src/main/webui
  .gitmodules
Labels: ci, safe-to-test

#152 test(redirects): refactor redirect handling
  README.md
  src/test/java/itest/UploadRecordingTest.java
  src/test/java/itest/bases/StandardSelfTest.java
  src/test/java/itest/util/Utils.java
Labels: test, safe-to-test

#159 build(quinoa): correct frontend package manager build invocation
  src/main/resources/application.properties
Labels: build, chore, safe-to-test

#163 fix(liveness): execute on worker pool
  src/main/java/io/cryostat/Health.java
Labels: fix, safe-to-test

#168 test(smoketest): correct database image
  smoketest/compose/db.yml
Labels: test, safe-to-test

#169 build(deps): bump quarkus to 3.2.6.Final
  pom.xml
Labels: build, chore, safe-to-test

#157 test(smoketest): add additional s3 impl options
  smoketest.bash
  smoketest/compose/s3-cloudserver.yml
  smoketest/compose/s3-localstack.yml
  smoketest/compose/s3-minio.yml
  smoketest/compose/s3-seaweed.yml
Labels: test, safe-to-test

#171 chore(ci): update ci workflow
  .github/workflows/dependent-issues.yml
  .github/workflows/pr-ci.yaml
Labels: chore, safe-to-test

#160 test(itest): updated the tests and created a localstack resource
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/reports/Reports.java
  src/main/resources/application-test.properties
  src/test/java/io/cryostat/resources/GrafanaResource.java
  src/test/java/io/cryostat/resources/JFRDatasourceResource.java
  src/test/java/io/cryostat/resources/LocalStackResource.java
  src/test/java/itest/NonExistentTargetIT.java
  src/test/java/itest/NoopAuthV2IT.java
  src/test/java/itest/NotificationsUrlIT.java
  src/test/java/itest/RecordingWorkflowTest.java
  src/test/java/itest/bases/StandardSelfTest.java
  src/test/java/itest/util/Utils.java
Labels: test, chore, safe-to-test

#174 test(itest): overwrite the IllegalArgumentException http code
  src/main/java/io/cryostat/ExceptionMappers.java
  src/test/java/itest/RulesPostJsonIT.java
Labels: test

#105 fix(archives): correct recording metadata in S3 tags
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
Labels: feat, safe-to-test

#178 feat(recordings): implement JFR snapshot
  pom.xml
  src/main/java/io/cryostat/V2Response.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/test/java/itest/SnapshotIT.java
  src/test/java/itest/SnapshotTest.java
  src/test/java/itest/TargetEventsGetTest.java
  src/test/java/itest/bases/StandardSelfTest.java
  src/test/java/itest/util/Utils.java
Labels: feat, safe-to-test

#176 fix(archives): cannot delete archived recording
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
Labels: fix

#190 chore(quarkus): clean up unused Quarkus project template assets
  src/main/docker/Dockerfile.legacy-jar
  src/main/docker/Dockerfile.native
  src/main/docker/Dockerfile.native-micro
  src/main/resources/META-INF/resources/index.html
Labels: chore, safe-to-test

#183 feat(recordings): implement PATCH recordingOptions
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/recordings/RecordingsModule.java
  src/test/java/itest/RecordingWorkflowTest.java
  src/test/java/itest/TargetRecordingPatchIT.java
  src/test/java/itest/TargetRecordingPatchTest.java
  src/test/java/itest/util/Utils.java
Labels: feat, safe-to-test
