Repository cryostatio/cryostat, pull requests merged in 2023-10, with the labels that each got.

#75 ci(jdk): use JDK 21 rather than 20
  .github/workflows/ci.yaml
Labels: ci

#80 build(dependabot): add dependabot config
  .github/dependabot.yml
Labels: build, chore

#106 test(smoketest): fix container-engine selection switch
  smoketest.bash
Labels: test

#97 fix(properties): disable podman discovery in production by default
  src/main/resources/application-dev.properties
  src/main/resources/application-test.properties
  src/main/resources/application.properties
Labels: fix, safe-to-test

#110 ci(build-test): persist PATH modifications with GITHUB_ENV
  .github/workflows/ci.yaml
Labels: ci, fix, safe-to-test

#109 fix(itest): correct JAVA_OPTS for JAVA_OPTS_APPEND
  src/main/docker/Dockerfile.jvm
  src/main/docker/Dockerfile.legacy-jar
  src/main/resources/application-test.properties
Labels: test, fix

#112 feat(ci): workflows added
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/check-labels.yml
  .github/workflows/ci-code-analysis.yml
  .github/workflows/ci.yaml
  .github/workflows/dependent-issues.yml
  .github/workflows/labeler.yml
  .github/workflows/linked-issue.yml
  .github/workflows/pr-request-review.yml
  .github/workflows/release-drafter.yml
  .github/workflows/verify-semantic-pull-request.yml
  .mergify.yml
  CONTRIBUTING.md
  README.md
  pom.xml
Labels: ci, feat, safe-to-test

#114 feat(ci): updated to take compare fork image sample
  CONTRIBUTING.md
Labels: ci, safe-to-test, review-requested

#121 ci(dependabot): remove reviewers config
  .github/dependabot.yml
Labels: ci, safe-to-test

#120 chore(spotbugs): resolve spotbugs warnings
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/discovery/DiscoveryNode.java
  src/main/java/io/cryostat/discovery/DiscoveryPlugin.java
  src/main/java/io/cryostat/events/SerializableEventTypeInfo.java
  src/main/java/io/cryostat/expressions/MatchExpression.java
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/main/java/io/cryostat/recordings/EventOptionsBuilder.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/rules/Rule.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/targets/Target.java
Labels: chore, safe-to-test

#129 feat(db): inherit from scl image, enforce PG_ENCRYPT_KEY
  db/Dockerfile
  db/entrypoint.bash
  db/include/postgresql-cfg/pgcrypto.conf
  db/include/postgresql-init/pgcrypto.sh
  db/pgcrypto.sql
  smoketest/compose/db.yml
  smoketest/k8s/cryostat-deployment.yaml
  smoketest/k8s/s3-deployment.yaml
  src/main/resources/application-dev.properties
  src/main/resources/application-test.properties
  src/main/resources/application.properties
  src/test/java/io/cryostat/credentials/CredentialsIT.java
  src/test/java/io/cryostat/credentials/CredentialsTest.java
Labels: feat, safe-to-test
