Repository cryostatio/cryostat, pull requests merged in 2024-08, with the labels that each got.

#594 ci(schema): update permissions for auto commit schema changes
  .github/workflows/pr-ci.yaml
Labels: ci, safe-to-test

#554 fix(graphql): include details in error responses
  src/main/resources/application.properties
  src/test/java/itest/GraphQLTest.java
Labels: fix, safe-to-test

#596 test(smoketest): Update quarkus-cryostat-agent for truststore setup
  compose/auth_certs/generate.sh
  compose/sample_apps/gameserver-jdk17.yml
  compose/sample_apps/gameserver-jdk21.yml
  compose/sample_apps/quarkus-cryostat-agent.yml
  compose/sample_apps/vertx-cryostat-agent.yml
Labels: test, safe-to-test

#598 fix(matchexpr): expose 'isAgent' field for evaluation
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
Labels: backport, fix, safe-to-test

#601 build(deps): bump io.fabric8:kubernetes-client from 6.7.2 to 6.10.0
  pom.xml
Labels: dependencies, chore, safe-to-test

#602 build(deps): bump org.apache.commons:commons-lang3 from 3.13.0 to 3.14.0
  pom.xml
Labels: dependencies, chore, safe-to-test

#603 build(deps): bump commons-validator:commons-validator from 1.7 to 1.8.0
  pom.xml
Labels: dependencies, chore, safe-to-test

#606 build(deps): replace direct fabric8 kubernetes-client with quarkus kubernetes-client
  pom.xml
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
Labels: dependencies, fix, safe-to-test

#607 build(deps): switch S3 HTTP client from urlconnection to apache
  pom.xml
  src/main/resources/application.properties
Labels: dependencies, chore, safe-to-test

#613 feat(ci): verify bot commits for schema changes
  .github/workflows/pr-ci.yaml
Labels: feat, safe-to-test

#590 feat(db): use flyway for migrations
  compose/db.yml
  pom.xml
  src/main/resources/application-dev.properties
  src/main/resources/application-test.properties
  src/main/resources/application.properties
  src/main/resources/db/migration/V4.0.0__cryostat.sql
Labels: feat, safe-to-test

#608 docs(readme): document frontend dev mode setup
  README.md
Labels: docs, safe-to-test

#614 chore(db): use Flyway migration to set up discovery plugins
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/discovery/CustomDiscovery.java
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/discovery/DiscoveryNode.java
  src/main/java/io/cryostat/discovery/JDPDiscovery.java
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
  src/main/resources/application-dev.properties
  src/main/resources/application.properties
  src/main/resources/db/migration/V4.0.0__cryostat.sql
Labels: chore, safe-to-test

#589 feat(about): reimplement git build info in /health
  pom.xml
  src/main/java/io/cryostat/BuildInfo.java
  src/main/java/io/cryostat/Health.java
Labels: feat, docs, safe-to-test

#625 chore(matchExpressions): rename target.isAgent match expression to target.agent to fit current nomenclature
  schema/schema.graphql
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/main/java/io/cryostat/targets/Target.java
Labels: chore, safe-to-test

#632 chore(matchExpressions): revert #625 rename target.isAgent match expression to target.agent to fit current nomenclature
  schema/schema.graphql
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/main/java/io/cryostat/targets/Target.java
Labels: fix, safe-to-test
