Repository cryostatio/cryostat, pull requests merged in 2024-01, with the labels that each got.

#224 test(smoketest): allow overriding container images by env var
  smoketest.bash
  smoketest/compose/auth_proxy.yml
  smoketest/compose/cryostat-grafana.yml
  smoketest/compose/cryostat.yml
  smoketest/compose/cryostat_docker.yml
  smoketest/compose/cryostat_k8s.yml
  smoketest/compose/db-viewer.yml
  smoketest/compose/db.yml
  smoketest/compose/db_k8s.yml
  smoketest/compose/jfr-datasource.yml
  smoketest/compose/s3-cloudserver.yml
  smoketest/compose/s3-localstack.yml
  smoketest/compose/s3-minio.yml
  smoketest/compose/s3-seaweed.yml
  smoketest/compose/sample-apps.yml
Labels: test

#225 test(smoketest): auth proxy is optional
  smoketest.bash
  smoketest/compose/auth_proxy.yml
  smoketest/compose/cryostat.yml
  smoketest/compose/no_proxy.yml
  smoketest/compose/sample-apps.yml
Labels: test

#104 feat(reports): reports sidecar, configurable caching
  pom.xml
  smoketest.bash
  smoketest/compose/cryostat.yml
  smoketest/compose/reports.yml
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/ExceptionMappers.java
  src/main/java/io/cryostat/MessageCodecs.java
  src/main/java/io/cryostat/Producers.java
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/discovery/JDPDiscovery.java
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/main/java/io/cryostat/recordings/ActiveRecording.java
  src/main/java/io/cryostat/recordings/EventOptionsBuilder.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/recordings/RecordingsModule.java
  src/main/java/io/cryostat/reports/MemoryCachingReportsListener.java
  src/main/java/io/cryostat/reports/MemoryCachingReportsService.java
  src/main/java/io/cryostat/reports/Reports.java
  src/main/java/io/cryostat/reports/ReportsService.java
  src/main/java/io/cryostat/reports/ReportsServiceImpl.java
  src/main/java/io/cryostat/reports/StorageCachingReportsListener.java
  src/main/java/io/cryostat/reports/StorageCachingReportsService.java
  src/main/java/io/cryostat/rules/Rule.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/targets/Target.java
  src/main/java/io/cryostat/util/HttpMimeType.java
  src/main/java/io/cryostat/ws/MessagingServer.java
  src/main/resources/application-test.properties
  src/main/resources/application.properties
  src/test/java/itest/SnapshotTest.java
Labels: feat

#230 test(smoketest): place Grafana dashboard behind oauth proxy
  smoketest.bash
  smoketest/compose/auth_proxy_alpha_config.yaml
  smoketest/compose/cryostat-grafana.yml
  smoketest/compose/grafana_no_proxy.yml
Labels: test, safe-to-test

#235 test(smoketest): expose storage API ports externally
  smoketest/compose/s3-cloudserver.yml
  smoketest/compose/s3-localstack.yml
  smoketest/compose/s3-minio.yml
  smoketest/compose/s3-seaweed.yml
Labels: test, safe-to-test

#234 feat(recordings): object storage URL may be different interally vs externally
  pom.xml
  smoketest.bash
  smoketest/compose/auth_proxy_alpha_config.yaml
  smoketest/compose/s3-cloudserver.yml
  smoketest/compose/s3-localstack.yml
  smoketest/compose/s3-minio.yml
  smoketest/compose/s3-seaweed.yml
  smoketest/compose/s3_no_proxy.yml
  smoketest/compose/seaweed_cfg.json
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/resources/application.properties
Labels: feat

#222 ci(db): clean up database container after test run
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
  README.md
Labels: ci

#244 fix(connections): use Unis to enable internal connection retry behaviour
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/ExceptionMappers.java
  src/main/java/io/cryostat/discovery/CustomDiscovery.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/targets/AgentConnection.java
  src/main/java/io/cryostat/targets/Target.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
  src/main/resources/application.properties
Labels: fix, safe-to-test

#246 fix(rules): rule application occurs within DB transaction to ensure cursor is not closed prematurely
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/rules/ScheduledArchiveJob.java
Labels: fix, safe-to-test

#254 perf(startup): enable startup profiling recording
  smoketest/compose/cryostat.yml
Labels: chore, safe-to-test

#255 fix(matchexpr): correct invalidation logic
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/main/resources/application.properties
Labels: fix, safe-to-test

#251 fix(discovery): check container discovery domain socket readability before start
  smoketest/compose/cryostat.yml
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/resources/application.properties
Labels: fix, safe-to-test

#257 chore(db): apply active record validation constraints
  src/main/java/io/cryostat/credentials/Credential.java
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/discovery/DiscoveryNode.java
  src/main/java/io/cryostat/discovery/DiscoveryPlugin.java
  src/main/java/io/cryostat/recordings/ActiveRecording.java
  src/main/java/io/cryostat/rules/Rule.java
  src/main/java/io/cryostat/rules/Rules.java
  src/main/java/io/cryostat/targets/Target.java
Labels: chore

#241 test(storage): swap seaweedfs upstream image for cryostat-storage
  smoketest.bash
  smoketest/compose/s3-cloudserver.yml
  smoketest/compose/s3-localstack.yml
  smoketest/compose/s3-minio.yml
  smoketest/compose/s3-seaweed.yml
  smoketest/compose/seaweed_cfg.json
Labels: test, chore

#271 fix(Target): should accept non-unique aliases
  src/main/java/io/cryostat/targets/Target.java
Labels: fix, safe-to-test

#267 test(smoketest): re-add environment variables for presigned downloads secrets
  smoketest/compose/s3-cloudserver.yml
  smoketest/compose/s3-localstack.yml
  smoketest/compose/s3-minio.yml
  smoketest/compose/s3-seaweed.yml
Labels: test, safe-to-test

#273 test(smoketest): add healthcheck to -reports container
  smoketest/compose/reports.yml
Labels: test, safe-to-test
