Repository cryostatio/cryostat, pull requests merged in 2024-02, with the labels that each got.

#260 fix(notifications): More descriptive notifications
  src/main/java/io/cryostat/ExceptionMappers.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/rules/Rules.java
  src/main/java/io/cryostat/util/EntityExistsException.java
Labels: fix

#279 build(cryostat-core): use -core from Maven Central
  .github/workflows/ci-code-analysis.yml
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
  pom.xml
Labels: ci, build, chore, safe-to-test

#288 ci(test): include JDK version in PR comment
  .github/workflows/pr-ci.yaml
Labels: ci, safe-to-test

#285 feat(download): implement download piping as default rather than presigned URLs
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/resources/application.properties
Labels: feat, safe-to-test

#287 feat(grafana): implement endpoint for 'view in grafana' of archived recordings
  smoketest.bash
  src/main/java/io/cryostat/ExceptionMappers.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
Labels: feat, safe-to-test

#292 test(smoketest): remove unmaintained k8s and pods smoketests
  .github/pull_request_template.md
  compose/auth_proxy.yml
  compose/auth_proxy_alpha_config.yaml
  compose/auth_proxy_htpasswd
  compose/cryostat-grafana.yml
  compose/cryostat.yml
  compose/cryostat_docker.yml
  compose/cryostat_k8s.yml
  compose/db-viewer.yml
  compose/db.yml
  compose/grafana_no_proxy.yml
  compose/jfr-datasource.yml
  compose/localstack_buckets.sh
  compose/no_proxy.yml
  compose/reports.yml
  compose/s3-cloudserver.yml
  compose/s3-localstack.yml
  compose/s3-minio.yml
  compose/s3-seaweed.yml
  compose/s3_no_proxy.yml
  compose/sample-apps.yml
  compose/servers.json
  smoketest.bash
  smoketest/compose/db_k8s.yml
  smoketest/compose/localstack/buckets.bash
  smoketest/containers/smoketest_pod.bash
  smoketest/k8s/.multiforward.yml
  smoketest/k8s/compose-default-networkpolicy.yaml
  smoketest/k8s/cryostat-deployment.yaml
  smoketest/k8s/cryostat-ingress.yaml
  smoketest/k8s/cryostat-service.yaml
  smoketest/k8s/db-configmap.yaml
  smoketest/k8s/db-deployment.yaml
  smoketest/k8s/db-service.yaml
  smoketest/k8s/db-viewer-deployment.yaml
  smoketest/k8s/db-viewer-ingress.yaml
  smoketest/k8s/db-viewer-service.yaml
  smoketest/k8s/generate.bash
  smoketest/k8s/minio-certs-persistentvolumeclaim.yaml
  smoketest/k8s/minio-data-persistentvolumeclaim.yaml
  smoketest/k8s/pgadmin-persistentvolumeclaim.yaml
  smoketest/k8s/postgresql-persistentvolumeclaim.yaml
  smoketest/k8s/quarkus-test-agent-deployment.yaml
  smoketest/k8s/quarkus-test-agent-service.yaml
  smoketest/k8s/s3-deployment.yaml
  smoketest/k8s/s3-ingress.yaml
  smoketest/k8s/s3-service.yaml
  smoketest/k8s/sample-app-1-deployment.yaml
  smoketest/k8s/sample-app-1-service.yaml
  smoketest/k8s/sample-app-2-deployment.yaml
  smoketest/k8s/sample-app-2-service.yaml
  smoketest/k8s/sample-app-3-deployment.yaml
  smoketest/k8s/sample-app-3-service.yaml
  smoketest/k8s/smoketest.bash
Labels: test, safe-to-test

#290 feat(eventtemplates): custom event templates in S3
  smoketest.bash
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/ExceptionMappers.java
  src/main/java/io/cryostat/events/EventTemplates.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/events/TargetTemplateService.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/resources/application.properties
  src/test/java/io/cryostat/HealthTest.java
  src/test/java/itest/CustomEventTemplateTest.java
  src/test/java/itest/TemplatePostDeleteIT.java
  src/test/java/itest/util/Utils.java
  src/test/resources/CustomEventTemplate.jfc
  src/test/resources/invalidTemplate.xml
Labels: feat, safe-to-test

#297 chore(automatedanalysis): use independent singlethreadexecutor if running on single CPU
  src/main/java/io/cryostat/Producers.java
Labels: chore, safe-to-test

#307 feat(graphql): add top-level query for targetNodes
  src/main/java/io/cryostat/ObjectMapperCustomization.java
  src/main/java/io/cryostat/graphql/RootNode.java
  src/main/java/io/cryostat/graphql/TargetNodes.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/ws/MessagingServer.java
  src/main/resources/application.properties
  src/test/java/itest/CustomTargetsTest.java
Labels: feat, dependent, safe-to-test
