Repository cryostatio/cryostat, pull requests merged in 2024-04, with the labels that each got.

#353 chore(quarkus): remove improper uses of blocking annotation
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/events/TargetTemplateService.java
  src/main/java/io/cryostat/recordings/ActiveRecording.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/reports/ReportsServiceImpl.java
  src/main/java/io/cryostat/reports/StorageCachingReportsService.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
Labels: chore, safe-to-test

#356 fix(matchexpressions): correct endpoint case for JSON ID request filter
  src/main/java/io/cryostat/JsonRequestFilter.java
Labels: fix, safe-to-test

#358 fix(rules): ensure archived recordings are sorted by age before pruning
  src/main/java/io/cryostat/rules/ScheduledArchiveJob.java
Labels: fix, safe-to-test

#366 fix(oauth): enable signout redirect
  src/main/java/io/cryostat/security/Auth.java
Labels: fix, safe-to-test

#350 fix(jmx): restore error codes for auth and TLS connection failures
  src/main/java/io/cryostat/ExceptionMappers.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
  src/test/java/itest/TargetEventsGetTest.java
Labels: fix, safe-to-test

#341 fix(recordingOptions): scope customizers to each Target
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/RecordingOptionsBuilderFactory.java
  src/main/java/io/cryostat/recordings/RecordingOptionsCustomizerFactory.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/recordings/RecordingsModule.java
  src/main/java/io/cryostat/rules/RuleService.java
Labels: fix, safe-to-test

#324 fix(grafana): add redirecting endpoint for archived recordings
  src/main/java/io/cryostat/recordings/Recordings.java
Labels: fix, safe-to-test

#371 build(arch): use build arch profiles for native dependency classification
  pom.xml
Labels: dependencies, build, chore, safe-to-test

#380 build(assembly): add profile to build assembly
  pom.xml
  src/assembly/quarkus-app.xml
Labels: build, chore

#384 chore(pom): remove build.os property that breaks Dependabot scanning
  pom.xml
Labels: chore, safe-to-test

#330 feat(jmx): custom entrypoint to support copying TLS certs into truststore for JMX
  compose/cryostat.yml
  schema/openapi.yaml
  smoketest.bash
  src/main/docker/Dockerfile.jvm
  src/main/docker/include/entrypoint.bash
  src/main/docker/include/genpass.bash
  src/main/docker/include/truststore-setup.bash
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/security/TrustStore.java
  src/main/resources/application-dev.properties
  src/main/resources/application.properties
Labels: feat, safe-to-test

#294 feat(graphql): reimplement GraphQL API
  .github/workflows/pr-ci.yaml
  compose/cryostat.yml
  pom.xml
  schema/openapi.yaml
  schema/schema.graphql
  schema/update.bash
  src/main/java/io/cryostat/JsonRequestFilter.java
  src/main/java/io/cryostat/ObjectMapperCustomization.java
  src/main/java/io/cryostat/graphql/ActiveRecordings.java
  src/main/java/io/cryostat/graphql/ArchivedRecordings.java
  src/main/java/io/cryostat/graphql/EnvironmentNodes.java
  src/main/java/io/cryostat/graphql/GraphQL.java
  src/main/java/io/cryostat/graphql/RecordingLinks.java
  src/main/java/io/cryostat/graphql/RootNode.java
  src/main/java/io/cryostat/graphql/SchemaExtension.java
  src/main/java/io/cryostat/graphql/TargetNodes.java
  src/main/java/io/cryostat/graphql/matchers/EqualityMatcher.java
  src/main/java/io/cryostat/graphql/matchers/LabelMatcher.java
  src/main/java/io/cryostat/graphql/matchers/LabelSelectorMatcher.java
  src/main/java/io/cryostat/graphql/matchers/SetMatcher.java
  src/main/java/io/cryostat/recordings/ActiveRecording.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/rules/ScheduledArchiveJob.java
  src/main/java/io/cryostat/targets/Target.java
  src/main/java/io/cryostat/ws/MessagingServer.java
  src/main/resources/application.properties
  src/test/java/itest/CustomTargetsTest.java
  src/test/java/itest/GraphQLTest.java
Labels: feat, safe-to-test

#391 fix(discovery): do not require nonnull jvmIds for websocket notifications
  src/main/java/io/cryostat/targets/Target.java
Labels: fix, safe-to-test

#392 ci(arm): install qemu for cross-arch image builds
  .github/workflows/push-ci.yaml
Labels: ci, chore, safe-to-test

#393 ci(arm): install qemu in correct workflow
  .github/workflows/push-ci.yaml
Labels: ci, chore, safe-to-test

#397 ci(schema): enable GraphQL schema tracking
  .github/workflows/pr-ci.yaml
Labels: ci, chore, safe-to-test

#398 ci(schema): fix GraphQL schema tracking
  .github/workflows/pr-ci.yaml
Labels: ci, chore, safe-to-test

#375 feat(jmcagent): JMC Agent Feature Parity
  schema/openapi.yaml
  smoketest.bash
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/jmcagent/JMCAgent.java
  src/main/java/io/cryostat/jmcagent/S3ProbeTemplateService.java
  src/main/java/io/cryostat/jmcagent/SerializableProbeTemplateInfo.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
  src/main/resources/application.properties
Labels: feat, safe-to-test

#401 fix(jmcagent): correct probe insert/remove notification contents
  src/main/java/io/cryostat/jmcagent/JMCAgent.java
Labels: fix, safe-to-test

#342 feat(agent): enable Agent HTTP communications
  compose/cryostat.yml
  compose/sample-apps.yml
  pom.xml
  schema/openapi.yaml
  schema/schema.graphql
  src/main/docker/include/jmc-agent.jar
  src/main/java/io/cryostat/JsonRequestFilter.java
  src/main/java/io/cryostat/credentials/CredentialsFinder.java
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/discovery/CustomDiscovery.java
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/discovery/DiscoveryPlugin.java
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/main/java/io/cryostat/graphql/ActiveRecordings.java
  src/main/java/io/cryostat/graphql/RootNode.java
  src/main/java/io/cryostat/graphql/TargetNodes.java
  src/main/java/io/cryostat/recordings/ActiveRecording.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/recordings/RemoteRecordingInputStreamFactory.java
  src/main/java/io/cryostat/reports/Reports.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/targets/AgentApiException.java
  src/main/java/io/cryostat/targets/AgentClient.java
  src/main/java/io/cryostat/targets/AgentConnection.java
  src/main/java/io/cryostat/targets/AgentJFRService.java
  src/main/java/io/cryostat/targets/Target.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
  src/main/java/io/cryostat/targets/Targets.java
  src/main/java/io/cryostat/ws/MessagingServer.java
  src/test/java/io/cryostat/JsonRequestFilterTest.java
Labels: feat, safe-to-test

#396 fix(transaction): ensure transactions occur in correct context/thread
  src/main/java/io/cryostat/expressions/MatchExpressions.java
  src/main/java/io/cryostat/graphql/ActiveRecordings.java
  src/main/java/io/cryostat/graphql/ArchivedRecordings.java
  src/main/java/io/cryostat/graphql/EnvironmentNodes.java
  src/main/java/io/cryostat/graphql/RootNode.java
  src/main/java/io/cryostat/graphql/TargetNodes.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/reports/Reports.java
  src/main/resources/application.properties
Labels: fix, safe-to-test

#325 feat(discovery): port kubeApi discovery to v3
  pom.xml
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/discovery/CustomDiscovery.java
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/discovery/DiscoveryNode.java
  src/main/java/io/cryostat/discovery/JDPDiscovery.java
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
  src/main/java/io/cryostat/discovery/NodeType.java
  src/main/java/io/cryostat/targets/Target.java
  src/main/resources/application-dev.properties
  src/main/resources/application-test.properties
  src/main/resources/application.properties
Labels: feat, safe-to-test

#383 chore(http): remove Apache HttpClient5, replace with RESTEasy client
  compose/reports.yml
  pom.xml
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/graphql/GraphQL.java
  src/main/java/io/cryostat/jmcagent/S3ProbeTemplateService.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/reports/ReportSidecarService.java
  src/main/java/io/cryostat/reports/ReportsServiceImpl.java
  src/main/java/io/cryostat/targets/AgentClient.java
  src/main/resources/META-INF/beans.xml
  src/main/resources/application.properties
Labels: chore, safe-to-test

#408 chore(deps): ignore major/minor Quarkus updates
  .github/dependabot.yml
Labels: chore

#414 fix(insights): send proxy service URL to agent
  src/main/java/io/cryostat/discovery/Discovery.java
Labels: fix

#417 fix(discovery): null check for compatible port name and number
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
Labels: fix, safe-to-test

#420 fix(discovery): fix duplicate pod nodes in container discovery
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/targets/Target.java
Labels: fix, safe-to-test

#419 fix(tls): return empty list if custom truststore dir is not accessible
  src/main/java/io/cryostat/security/TrustStore.java
Labels: fix, safe-to-test

#424 chore(ws): simplify messaging server
  src/main/java/io/cryostat/ws/MessagingServer.java
  src/main/resources/application.properties
Labels: chore, safe-to-test
