Repository cryostatio/cryostat, pull requests merged in 2024-12, with the labels that each got.

#698 feat(async): long-running async job API
  schema/openapi.yaml
  src/main/java/io/cryostat/Producers.java
  src/main/java/io/cryostat/recordings/ActiveRecordings.java
  src/main/java/io/cryostat/recordings/ArchivedRecordings.java
  src/main/java/io/cryostat/recordings/LongRunningRequestGenerator.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/reports/MemoryCachingReportsService.java
  src/main/java/io/cryostat/reports/Reports.java
  src/main/java/io/cryostat/reports/ReportsService.java
  src/main/java/io/cryostat/reports/ReportsServiceImpl.java
  src/main/java/io/cryostat/reports/StorageCachingReportsService.java
  src/test/java/io/cryostat/reports/ReportsTest.java
  src/test/java/itest/RecordingWorkflowTest.java
  src/test/java/itest/ReportGenerationTest.java
  src/test/java/itest/TargetRecordingPatchTest.java
  src/test/java/itest/UploadRecordingTest.java
Labels: feat, safe-to-test

#733 feat(eventtemplates): add Preset event templates type and Quarkus-specific preset
  pom.xml
  schema/openapi.yaml
  src/main/docker/Dockerfile.jvm
  src/main/docker/include/template_presets/quarkus.jfc
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/events/EventTemplates.java
  src/main/java/io/cryostat/events/PresetTemplateService.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/events/TargetEventTemplates.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/targets/AgentJFRService.java
  src/main/resources/application.properties
  src/test/java/io/cryostat/AbstractTransactionalTestBase.java
  src/test/java/io/cryostat/events/EventTemplatesTest.java
  src/test/java/itest/PresetTemplatesIT.java
  src/test/java/itest/RulesPostJsonIT.java
Labels: feat, docs, needs-documentation, safe-to-test

#746 fix(uri-validation): Validate URI ranges for discovery plugins and related targets
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/targets/Target.java
Labels: fix, safe-to-test

#735 feat(matchexpressions): expressions can reference target JFR event type IDs
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/test/java/io/cryostat/expressions/MatchExpressionsTest.java
Labels: feat, docs, needs-documentation, safe-to-test

#732 fix(rules): automatic refire with backoff
  src/main/java/io/cryostat/rules/RuleExecutor.java
  src/main/java/io/cryostat/rules/RuleService.java
Labels: fix, safe-to-test

#752 test(smoketest): discover reports sidecar
  compose/reports.yml
Labels: test, safe-to-test

#747 fix(tls): use TLS by default in the Agent Client
  compose/cryostat.yml
  smoketest.bash
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/targets/AgentClient.java
  src/main/java/io/cryostat/targets/AgentConnection.java
  src/main/java/io/cryostat/util/URIUtil.java
  src/main/resources/application.properties
Labels: fix, safe-to-test
