Repository cryostatio/cryostat, pull requests merged in 2024-06, with the labels that each got.

#381 test(smoketest): configure quarkus-test-agent to use newer auth properties
  compose/sample-apps.yml
Labels: test, safe-to-test

#492 fix(recordings): correctly retrieve custom event templates from S3 storage
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/targets/AgentConnection.java
  src/main/java/io/cryostat/targets/AgentJFRService.java
Labels: dependent, fix, safe-to-test

#493 chore(agent): update outdated -agent configs
  compose/sample-apps.yml
Labels: chore

#490 fix(auth): use X-Forwarded-User header to populate username response
  src/main/java/io/cryostat/Health.java
  src/main/java/io/cryostat/security/Auth.java
  src/main/resources/application-dev.properties
Labels: fix, safe-to-test

#498 chore(release): prepare release branch
  .github/workflows/push-ci.yaml
  .mergify.yml
  compose/cryostat.yml
  compose/cryostat_docker.yml
  compose/cryostat_k8s.yml
  src/main/resources/application.properties
Labels: chore, safe-to-test

#497 chore(release): prepare for 3.0.0 release
  .github/workflows/push-ci.yaml
  .mergify.yml
  compose/cryostat.yml
  compose/cryostat_docker.yml
  compose/cryostat_k8s.yml
  pom.xml
  schema/openapi.yaml
  src/main/resources/application.properties
Labels: chore, safe-to-test

#500 ci(tags): do not apply 'dev' or 'latest' tags to intermediate container builds
  .github/workflows/push-ci.yaml
Labels: backport, ci, chore, safe-to-test

#496 fix(jvmId): correct query for Targets with null jvmId
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/targets/Target.java
Labels: backport, fix, safe-to-test

#505 test(smoketest): use relative ext redirect URLs
  compose/cryostat-grafana.yml
  compose/s3-cloudserver.yml
  compose/s3-localstack.yml
  compose/s3-minio.yml
  compose/s3-seaweed.yml
  smoketest.bash
Labels: test, safe-to-test

#512 fix(matchexpr): correct lookup of Target objects for match expression testing
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/main/java/io/cryostat/expressions/MatchExpressions.java
Labels: backport, fix, safe-to-test

#514 chore(logs): audit log levels
  src/main/java/io/cryostat/StorageBuckets.java
  src/main/java/io/cryostat/credentials/CredentialsFinder.java
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/discovery/DiscoveryPlugin.java
  src/main/java/io/cryostat/discovery/JDPDiscovery.java
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
  src/main/java/io/cryostat/events/Events.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/jmcagent/JMCAgent.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/targets/Target.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
  src/main/java/io/cryostat/ws/MessagingServer.java
  src/test/java/io/cryostat/resources/LocalStackResource.java
  src/test/java/itest/bases/StandardSelfTest.java
Labels: backport, chore, safe-to-test

#518 fix(rules): rule archiving and re-activation bugfixes
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/rules/ScheduledArchiveJob.java
Labels: backport, fix, safe-to-test

#520 ci(rename): correct CI paths for repo rename
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .github/workflows/pr-ci.yaml
Labels: backport, ci, safe-to-test

#526 fix(rules): add blocking annotation for rules error
  src/main/java/io/cryostat/rules/RuleService.java
Labels: backport, fix, safe-to-test

#534 docs(readme): update readme link for old repo
  README.md
Labels: backport, docs, safe-to-test

#395 fix(itest): fix GraphQLTest.java
  src/main/java/io/cryostat/discovery/DiscoveryNode.java
  src/main/java/io/cryostat/graphql/RootNode.java
  src/main/java/io/cryostat/graphql/matchers/LabelSelectorMatcher.java
  src/test/java/io/cryostat/graphql/matchers/LabelSelectorMatcherTest.java
  src/test/java/itest/GraphQLTest.java
  src/test/java/itest/bases/StandardSelfTest.java
Labels: backport, fix, safe-to-test

#541 fix(recordings): uploaded archives should be viewable with Grafana
  src/main/java/io/cryostat/recordings/Recordings.java
Labels: backport, fix, safe-to-test
