Repository cryostatio/cryostat, pull requests merged in 2024-05, with the labels that each got.

#427 chore(jmc-core): update to JMC version 9.0.0
  pom.xml
  src/main/java/io/cryostat/events/Events.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/events/SerializableEventTypeInfo.java
  src/main/java/io/cryostat/recordings/ActiveRecording.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/recordings/RemoteRecordingInputStreamFactory.java
  src/main/java/io/cryostat/targets/AgentClient.java
  src/main/java/io/cryostat/targets/AgentConnection.java
  src/main/java/io/cryostat/targets/AgentJFRService.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
  src/test/java/itest/CryostatTemplateIT.java
Labels: dependencies, chore, safe-to-test

#429 ci(cron): publish weekly rebuilds
  .github/workflows/push-ci.yaml
Labels: ci, chore, safe-to-test

#423 fix(discovery): observed containers should be checked with persisted nodes
  compose/db.yml
  smoketest.bash
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/targets/Target.java
Labels: fix, safe-to-test

#428 fix(discovery): handle endpoint discovery events separately
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
Labels: fix, safe-to-test

#433 fix(graphql): avoid ConcurrentModificationException
  src/main/java/io/cryostat/graphql/ActiveRecordings.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
Labels: fix, safe-to-test

#439 fix(jmx): fix regression in JMX auth connection failures
  compose/cryostat.yml
  src/main/resources/application.properties
Labels: fix, safe-to-test

#415 fix(db): correct use of Transactional annotation
  compose/cryostat.yml
  compose/db-viewer.yml
  compose/sample-apps.yml
  src/main/java/io/cryostat/credentials/Credential.java
  src/main/java/io/cryostat/credentials/Credentials.java
  src/main/java/io/cryostat/discovery/CustomDiscovery.java
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/discovery/DiscoveryNode.java
  src/main/java/io/cryostat/discovery/DiscoveryPlugin.java
  src/main/java/io/cryostat/discovery/JDPDiscovery.java
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/rules/ScheduledArchiveJob.java
  src/main/java/io/cryostat/targets/AgentClient.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
Labels: fix, safe-to-test

#443 fix(discovery): JDP event bus broadcast to correct address
  src/main/java/io/cryostat/discovery/JDPDiscovery.java
Labels: fix, safe-to-test

#445 feat(templates): reimplement custom event templates from mounted volume
  .gitignore
  compose/cryostat.yml
  smoketest.bash
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/resources/application.properties
Labels: feat, safe-to-test

#448 docs(readme): update readme
  README.md
Labels: docs, needs-triage, safe-to-test

#451 fix(health): correctly check reports service health
  src/main/java/io/cryostat/Health.java
  src/test/java/io/cryostat/HealthTest.java
Labels: fix, safe-to-test

#454 fix(archive-on-stop): add missing @Transactional annotation on StopRecordingJob
  src/main/java/io/cryostat/recordings/RecordingHelper.java
Labels: fix, safe-to-test

#460 fix(ws): implement periodic ping frame
  src/main/java/io/cryostat/Producers.java
  src/main/java/io/cryostat/reports/StorageCachingReportsService.java
  src/main/java/io/cryostat/ws/MessagingServer.java
Labels: fix, safe-to-test

#464 docs(readme): remove k8s mention in README
  README.md
Labels: docs

#465 chore(jmacagent): Update JMC Agent handlers to account for core changes
  src/main/java/io/cryostat/jmcagent/JMCAgent.java
  src/main/java/io/cryostat/jmcagent/S3ProbeTemplateService.java
  src/main/java/io/cryostat/jmcagent/SerializableProbeTemplateInfo.java
Labels: chore, safe-to-test

#468 fix(discovery): mark plugin refresh job as Transactional
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
Labels: fix, safe-to-test

#470 docs(readme): minor revisions
  README.md
Labels: docs, safe-to-test

#449 chore(cleanup): Adjust for core changes to abstract away the Document type
  src/main/java/io/cryostat/events/EventTemplates.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/events/TargetTemplateService.java
  src/main/java/io/cryostat/targets/AgentJFRService.java
Labels: chore, safe-to-test

#399 docs(container): add quay.io registry link to README
  README.md
Labels: docs, safe-to-test

#477 docs(readme): update README with See Also section
  README.md
  docs/images/cryostat_icon_rgb_default.svg
  docs/images/cryostat_icon_rgb_reverse.svg
  docs/images/cryostat_logo_hori_rgb_default.svg
  docs/images/cryostat_logo_hori_rgb_reverse.svg
  docs/images/cryostat_logo_vert_rgb_default.svg
  docs/images/cryostat_logo_vert_rgb_reverse.svg
Labels: docs, safe-to-test

#444 feat(Custom Targets): restrict Custom Targets domains
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/URIUtil.java
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/discovery/CustomDiscovery.java
  src/main/java/io/cryostat/discovery/Discovery.java
  src/main/java/io/cryostat/discovery/JDPDiscovery.java
  src/main/java/io/cryostat/util/URIRange.java
  src/main/java/io/cryostat/util/URIUtil.java
  src/main/resources/application.properties
  src/test/java/io/cryostat/discovery/CustomDiscoveryTest.java
  src/test/java/io/cryostat/util/URIRangeTest.java
Labels: feat, safe-to-test

#479 feat(credentials): add missing credentials test endpoint
  schema/openapi.yaml
  src/main/java/io/cryostat/credentials/CredentialCheck.java
  src/main/java/io/cryostat/targets/AgentClient.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
Labels: feat, safe-to-test

#482 fix(template): correct return of String-encoded Optional
  .github/workflows/pr-ci.yaml
  src/main/docker/include/cryostat.jfc
  src/main/java/io/cryostat/events/TargetTemplateService.java
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/test/java/itest/CryostatTemplateIT.java
Labels: fix, safe-to-test

#462 chore(jmx): remove JMX credentials generation from entrypoint
  compose/cryostat.yml
  src/main/docker/include/entrypoint.bash
Labels: chore, safe-to-test

#472 test(smoketest): cleanup, add config to run without S3
  compose/cryostat.yml
  compose/db.yml
  compose/s3-cloudserver.yml
  compose/s3-localstack.yml
  compose/s3-minio.yml
  compose/s3-none.yml
  compose/s3-seaweed.yml
  smoketest.bash
Labels: test, safe-to-test

#485 fix(Archived Recordings): Archived Recordings tables improperly react to "Recording Saved" notifications
  src/main/java/io/cryostat/recordings/RecordingHelper.java
Labels: fix, safe-to-test

#488 fix(custom-targets): fix bug in transactions, handle more failure cases, include more helpful text with failure responses
  compose/cryostat.yml
  compose/reports.yml
  src/main/java/io/cryostat/discovery/CustomDiscovery.java
Labels: fix, safe-to-test
