Repository cryostatio/cryostat, pull requests merged in 2024-07, with the labels that each got.

#402 test(smoketest): use test-applications sample apps
  compose/sample-apps.yml
Labels: backport, test, safe-to-test

#555 chore(rename): clean up references to cryostat3 name
  CONTRIBUTING.md
  README.md
  compose/cryostat.yml
  compose/cryostat_docker.yml
  compose/cryostat_k8s.yml
  compose/db.yml
  compose/no_proxy.yml
  compose/servers.json
  pom.xml
  schema/openapi.yaml
  src/main/docker/Dockerfile.jvm
  src/main/resources/application.properties
  src/test/java/itest/bases/StandardSelfTest.java
Labels: chore, safe-to-test

#559 test(smoketest): use test-applications with agent 0.4.1-snapshot
  compose/sample-apps.yml
Labels: test, safe-to-test

#426 test(tls): set up TLS in oauth-proxy config
  .gitignore
  compose/agent_certs/generate-agent-certs.sh
  compose/auth_certs/generate.sh
  compose/auth_proxy.yml
  compose/auth_proxy_alpha_config_http.yaml
  compose/auth_proxy_alpha_config_https.yaml
  compose/auth_proxy_https.yml
  compose/cryostat-grafana.yml
  compose/cryostat.yml
  compose/cryostat_docker.yml
  compose/grafana_no_proxy.yml
  compose/jfr-datasource.yml
  compose/reports.yml
  compose/s3-seaweed.yml
  compose/s3_no_proxy.yml
  compose/sample-apps.yml
  compose/sample-apps_https.yml
  smoketest.bash
Labels: test, safe-to-test

#562 test(smoketest): remove references to kompose
  README.md
  compose/auth_proxy.yml
  compose/cryostat.yml
  compose/cryostat_docker.yml
  compose/cryostat_k8s.yml
  compose/jfr-datasource.yml
  compose/reports.yml
  compose/s3-cloudserver.yml
  compose/s3-localstack.yml
  compose/s3-minio.yml
  compose/s3-seaweed.yml
Labels: test, safe-to-test

#373 build(multiarch): multistage multiarch builder to ensure native dependencies match arch
  .dockerignore.builder
  .github/workflows/push-ci.yaml
  src/main/docker/Dockerfile.builder
Labels: dependencies, build, fix, safe-to-test

#566 ci(oci): builder image fixups
  .github/workflows/push-ci.yaml
  src/main/docker/Dockerfile.builder
Labels: ci, safe-to-test

#567 ci(oci): builder image base image version (#566)
  src/main/docker/Dockerfile.builder
Labels: ci, safe-to-test

#569 ci(oci): enable parallel builds in OCI format
  .github/workflows/push-ci.yaml
Labels: ci, safe-to-test

#570 feat(smoketest): add Opensearch as a sample app
  .gitignore
  compose/agent_certs/generate-agent-certs.sh
  compose/opensearch.yml
  smoketest.bash
Labels: feat, test, fix, safe-to-test

#571 chore(libcryostat): clean up to use libcryostat dependency
  pom.xml
  src/main/java/io/cryostat/Producers.java
  src/main/java/io/cryostat/discovery/ContainerDiscovery.java
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
  src/main/java/io/cryostat/events/EventTemplates.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/events/TargetTemplateService.java
  src/main/java/io/cryostat/graphql/ActiveRecordings.java
  src/main/java/io/cryostat/graphql/TargetNodes.java
  src/main/java/io/cryostat/jmcagent/JMCAgent.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/main/java/io/cryostat/targets/AgentClient.java
  src/main/java/io/cryostat/targets/AgentConnection.java
  src/main/java/io/cryostat/targets/AgentJFRService.java
  src/main/java/io/cryostat/targets/Target.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
  src/main/java/io/cryostat/targets/TargetsModule.java
  src/test/java/itest/util/Utils.java
Labels: ci, dependencies, safe-to-test

#572 test(smoketest): split up sample applications, selectable using -t
  compose/agent_certs/generate-agent-certs.bash
  compose/auth_proxy.yml
  compose/auth_proxy_alpha_config_http.yml
  compose/auth_proxy_alpha_config_https.yml
  compose/sample-apps.yml
  compose/sample_apps/gameserver.yml
  compose/sample_apps/opensearch.yml
  compose/sample_apps/quarkus-cryostat-agent.yml
  compose/sample_apps/quarkus-cryostat-agent_https.yml
  compose/sample_apps/vertx-cryostat-agent.yml
  smoketest.bash
Labels: test, safe-to-test

#576 test(smoketest): set vertx Agents writable and correct baseuri ranges
  compose/sample_apps/vertx-cryostat-agent.yml
Labels: test, safe-to-test

#577 ci(schema): auto commit schema changes
  .github/workflows/pr-ci.yaml
Labels: feat, safe-to-test

#579 test(gameserver): split sample for JDK versions
  compose/sample_apps/gameserver-jdk11.yml
  compose/sample_apps/gameserver-jdk17.yml
  compose/sample_apps/gameserver-jdk21.yml
Labels: test, safe-to-test

#580 ci(runner): use ubuntu 24.04 runner, ensure podman 4 from repo installed, use localstack:stable
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
  compose/s3-localstack.yml
  pom.xml
  src/test/java/io/cryostat/resources/LocalStackResource.java
Labels: test, safe-to-test

#581 ci(multiarch): improve build times
  .dockerignore.builder
  .github/workflows/ci-code-analysis.yml
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
  pom.xml
  schema/update.bash
  src/main/docker/Dockerfile.builder
Labels: ci, safe-to-test

#585 ci(multiarch): build archs in separate runners
  .dockerignore.builder
  .github/workflows/push-ci.yaml
  src/main/docker/Dockerfile.builder
Labels: ci, safe-to-test
