Repository cryostatio/cryostat, pull requests merged in 2024-03, with the labels that each got.

#314 fix(archives): accept and delete recording uploads, emit event with correct size
  src/main/java/io/cryostat/recordings/ActiveRecording.java
  src/main/java/io/cryostat/recordings/Recordings.java
Labels: dependent, fix, safe-to-test

#291 fix(server): should validate request payload: ensure id is not specified
  src/main/java/io/cryostat/JsonRequestFilter.java
  src/test/java/io/cryostat/JsonRequestFilterTest.java
Labels: fix, safe-to-test

#321 chore(storage): refactor bucket check/create on startup
  src/main/java/io/cryostat/ExceptionMappers.java
  src/main/java/io/cryostat/StorageBuckets.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/reports/Reports.java
Labels: chore, safe-to-test

#315 fix(topology): correct GraphQL schema for Topology actions, implement missing mutations
  compose/cryostat.yml
  src/main/java/io/cryostat/JsonRequestFilter.java
  src/main/java/io/cryostat/graphql/ActiveRecordings.java
  src/main/java/io/cryostat/graphql/ArchivedRecordings.java
  src/main/java/io/cryostat/graphql/EnvironmentNodes.java
  src/main/java/io/cryostat/graphql/RootNode.java
  src/main/java/io/cryostat/graphql/SchemaExtension.java
  src/main/java/io/cryostat/graphql/TargetNodes.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/Recordings.java
  src/main/java/io/cryostat/rules/ScheduledArchiveJob.java
  src/test/java/io/cryostat/JsonRequestFilterTest.java
Labels: dependent, fix, safe-to-test

#334 ci(schema): check for OpenAPI and GraphQL schema changes
  .github/workflows/pr-ci.yaml
  schema/openapi.yaml
  schema/update.bash
  src/main/resources/application.properties
Labels: ci, dependent, safe-to-test

#336 fix(schema): update schema for current main
  schema/openapi.yaml
Labels: fix, safe-to-test

#338 ci(schema): add pr-write permissions for comments
  .github/workflows/pr-ci.yaml
Labels: ci, safe-to-test

#337 fix(id-filter): allow JSON 'id' key on particular endpoints only
  src/main/java/io/cryostat/JsonRequestFilter.java
  src/test/java/io/cryostat/JsonRequestFilterTest.java
Labels: fix, safe-to-test

#329 fix(jmxauth): tolerate JMX auth failures at discovery, re-attempt if new matching Credentials added
  src/main/java/io/cryostat/JsonRequestFilter.java
  src/main/java/io/cryostat/targets/Target.java
  src/main/java/io/cryostat/targets/Targets.java
Labels: fix, safe-to-test
