Repository cryostatio/cryostat, pull requests merged in 2025-01, with the labels that each got.

#764 test(storage): deploy cryostat-storage rather than localstack
  src/test/java/io/cryostat/resources/S3StorageResource.java
  src/test/java/itest/CustomEventTemplateTest.java
  src/test/java/itest/GraphQLTest.java
  src/test/java/itest/RecordingWorkflowTest.java
  src/test/java/itest/ReportGenerationTest.java
Labels: backport, test, safe-to-test

#770 ci(criu): add CRIU PPA for Podman dependency
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
Labels: backport, ci, safe-to-test

#773 test(smoketest): use updated gameserver image
  compose/cryostat.yml
  compose/sample_apps/gameserver-jdk11.yml
  compose/sample_apps/gameserver-jdk21.yml
  compose/sample_apps/gameserver.yml
  smoketest.bash
Labels: test, safe-to-test

#652 chore(container): upgrade to UBI9
  compose/cryostat_docker.yml
  compose/cryostat_k8s.yml
  pom.xml
  src/main/docker/Dockerfile.jvm
Labels: dependencies, chore, safe-to-test

#775 fix(api): Fix location header for archived report generation
  src/main/java/io/cryostat/reports/Reports.java
  src/test/java/io/cryostat/reports/ReportsTest.java
  src/test/java/itest/RecordingWorkflowTest.java
Labels: fix, safe-to-test

#776 feat(agent): add option to disable hostname verification
  src/main/resources/application.properties
Labels: feat, safe-to-test

#758 fix(agent): fix TLS enforcement for Agent instances
  src/main/java/io/cryostat/targets/AgentConnection.java
Labels: fix, safe-to-test

#755 fix(credentials): ensure deletion occurs within transaction context
  src/main/java/io/cryostat/JsonRequestFilter.java
  src/main/java/io/cryostat/expressions/MatchExpressionEvaluator.java
  src/main/java/io/cryostat/targets/TargetUpdateService.java
  src/main/resources/application-dev.properties
Labels: fix, safe-to-test

#750 feat(preset): add preset template and rule for Hibernate JFR
  pom.xml
  src/main/docker/include/rule_presets/hibernate.json
  src/main/docker/include/rule_presets/quarkus.json
  src/main/docker/include/template_presets/hibernate.jfc
  src/main/docker/include/template_presets/quarkus.jfc
  src/test/java/itest/PresetRulesIT.java
  src/test/java/itest/PresetTemplatesIT.java
Labels: feat, safe-to-test

#785 fix(notifications): Fix notification String constants
  src/main/java/io/cryostat/recordings/LongRunningRequestGenerator.java
Labels: fix, safe-to-test

#787 fix(notifications): Restore missing notification when archiving recordings
  src/main/java/io/cryostat/recordings/RecordingHelper.java
Labels: fix, safe-to-test

#788 fix(api): Increase default connection timeout, add custom timeout for long running operations
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/recordings/ActiveRecordingsDownload.java
  src/main/java/io/cryostat/recordings/LongRunningRequestGenerator.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/recordings/RemoteRecordingInputStreamFactory.java
  src/main/java/io/cryostat/reports/ReportsServiceImpl.java
  src/main/java/io/cryostat/targets/TargetConnectionManager.java
  src/main/resources/application-test.properties
  src/main/resources/application.properties
Labels: fix, safe-to-test
