Repository cryostatio/cryostat, pull requests merged in 2025-03, with the labels that each got.

#827 chore(smoketest): swap busybox volume helper for ubi-micro
  smoketest.bash
Labels: chore, needs-triage, safe-to-test

#828 chore(quay): switch more images to quay.io alternatives
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
  README.md
  compose/s3-localstack.yml
  compose/s3-minio.yml
  compose/sample_apps/opensearch.yml
  src/main/resources/application-dev.properties
  src/main/resources/application-test.properties
Labels: chore, safe-to-test

#829 ci(github): remove privileged step
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
Labels: ci, safe-to-test

#830 ci(testcontainers): ensure correct properties file content
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
Labels: ci, safe-to-test

#831 ci(github): use tilde for runner home path
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
Labels: ci, safe-to-test

#832 ci(github): use explicit path for runner home
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
Labels: ci, safe-to-test

#833 ci(github): re-enable qemu for single-arch testcontainers
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
Labels: ci, safe-to-test

#834 test(storage): deploy cryostat-storage instead of localstack
  .github/workflows/pr-ci.yaml
  src/main/resources/application-test.properties
  src/test/java/io/cryostat/AbstractTestBase.java
Labels: test, safe-to-test

#835 ci(github): disable ryuk
  .github/workflows/pr-ci.yaml
  .github/workflows/push-ci.yaml
Labels: ci, safe-to-test

#825 feat(jmcagent): Declarative Probe Templates
  compose/cryostat.yml
  smoketest.bash
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/jmcagent/S3ProbeTemplateService.java
  src/main/resources/application.properties
Labels: feat, safe-to-test

#839 chore(gitignore) ignore smoketest probes
  .gitignore
Labels: chore, safe-to-test

#840 test(smoketest): use quay.io images for all sample apps
  compose/sample_apps/opensearch.yml
  compose/sample_apps/quarkus-petclinic.yml
Labels: test, safe-to-test

#791 chore(pom): add quarkus-jfr extension
  pom.xml
Labels: backport, chore, safe-to-test
