Repository cryostatio/cryostat, pull requests merged in 2025-05, with the labels that each got.

#897 feat(automated-analysis): include label for grouping target-analysis recordings
  src/main/java/io/cryostat/reports/Reports.java
  src/test/java/io/cryostat/reports/ReportsTest.java
Labels: feat, safe-to-test

#903 fix(discovery): disallow deletion of non-custom targets
  src/main/java/io/cryostat/discovery/CustomDiscovery.java
Labels: backport, fix, needs-documentation, safe-to-test

#901 fix(discovery): apply predicate to node queries
  src/main/java/io/cryostat/discovery/DiscoveryNode.java
Labels: fix, safe-to-test

#914 fix(discovery): handle nullable object fields in k8s endpoints objects
  schema/openapi.yaml
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
Labels: backport, fix, needs-documentation, safe-to-test

#904 fix(credentials): Persist matchExpression when creating credentials from files
  compose/cryostat.yml
  src/main/java/io/cryostat/credentials/Credentials.java
Labels: fix, safe-to-test

#917 fix(config): handle symlinks in declarative config loading
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/DeclarativeConfiguration.java
  src/main/java/io/cryostat/credentials/Credentials.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/jmcagent/S3ProbeTemplateService.java
  src/main/java/io/cryostat/rules/Rules.java
  src/main/java/io/cryostat/security/TrustStore.java
  src/main/resources/application.properties
Labels: fix, safe-to-test
