Repository cryostatio/cryostat, pull requests merged in 2025-04, with the labels that each got.

#858 chore(recordings): remove 'transient' active recordings handling
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/graphql/ActiveRecordings.java
  src/main/java/io/cryostat/recordings/ActiveRecordings.java
  src/main/java/io/cryostat/recordings/ActiveRecordingsDownload.java
  src/main/java/io/cryostat/recordings/LongRunningRequestGenerator.java
  src/main/java/io/cryostat/recordings/RecordingHelper.java
  src/main/java/io/cryostat/rules/ScheduledArchiveJob.java
  src/main/resources/application.properties
  src/test/java/io/cryostat/recordings/ActiveRecordingsTest.java
  src/test/java/io/cryostat/recordings/SnapshotsTest.java
  src/test/java/itest/SnapshotTest.java
Labels: chore, safe-to-test

#879 fix(rules): correct error handling behaviour across component boundary
  schema/openapi.yaml
  schema/schema.graphql
  src/main/java/io/cryostat/MessageCodecs.java
  src/main/java/io/cryostat/discovery/JDPDiscovery.java
  src/main/java/io/cryostat/events/S3TemplateService.java
  src/main/java/io/cryostat/jmcagent/JMCAgentProbes.java
  src/main/java/io/cryostat/jmcagent/S3ProbeTemplateService.java
  src/main/java/io/cryostat/rules/RuleExecutor.java
  src/main/java/io/cryostat/rules/RuleService.java
  src/test/java/itest/RulesPostFormIT.java
  src/test/java/itest/RulesPostJsonIT.java
Labels: backport, fix, safe-to-test

#857 feat(credentials): Implement declarative stored credentials
  compose/cryostat.yml
  smoketest.bash
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/credentials/Credentials.java
  src/main/resources/application.properties
Labels: feat, safe-to-test

#856 feat(reports): use S3 presigned URL for archived recording reports
  compose/auth_certs/generate.sh
  compose/reports.yml
  src/main/java/io/cryostat/ConfigProperties.java
  src/main/java/io/cryostat/reports/AnalysisReportAggregator.java
  src/main/java/io/cryostat/reports/ReportSidecarService.java
  src/main/java/io/cryostat/reports/ReportsServiceImpl.java
  src/main/resources/application.properties
  src/test/java/io/cryostat/resources/ReportsSidecarResource.java
Labels: feat, safe-to-test

#870 perf(sql): set up indices
  src/main/java/io/cryostat/discovery/DiscoveryNode.java
  src/main/java/io/cryostat/discovery/KubeApiDiscovery.java
  src/main/java/io/cryostat/recordings/ActiveRecording.java
  src/main/java/io/cryostat/rules/Rule.java
  src/main/java/io/cryostat/targets/Target.java
  src/main/resources/db/migration/V4.1.0__cryostat.sql
Labels: safe-to-test, perf

#887 test(smoketest): ensure removal of credentials volume
  smoketest.bash
Labels: test, safe-to-test

#883 chore(jvmid): lower log level for exception if target has been lost
  src/main/java/io/cryostat/targets/TargetUpdateJob.java
Labels: chore, safe-to-test
